.balanceSlider {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 60px;
  flex-direction: column;
  padding: 0 var(--spacing-md);
  gap: var(--spacing-sm);
  background: var(--color-surface);
  border-radius: var(--radius-md);
}

.balanceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
