.live__stream {
  position: relative;

  height: 7rem;

  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 239px;
    height: 120px;
    background: linear-gradient(270deg, #130f12 0%, rgba(15, 10, 13, 0) 100%);
    z-index: 1;
  }

  &__online {
    position: relative;
    min-width: clamp(40px, 4vw, 70px);
    width: clamp(40px, 4vw, 70px);
    height: 100%;
    opacity: 1;
    border-width: 1px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(235, 43, 172, 0.03);
    flex-shrink: 0;

    &:before {
      content: "";
      width: 100%;
      height: 14px;
      position: absolute;
      bottom: 0;
      background: var(--color-primary);
      filter: blur(18px);
    }

    .onlineContent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      .contentText {
        font-weight: 700;
        font-size: clamp(10px, 1vw, 14px);
        line-height: clamp(11px, 1.1vw, 15px);
        color: var(--color-primary);
      }

      .contentLabel {
        font-weight: 400;
        font-size: clamp(8px, 0.8vw, 11px);
        line-height: clamp(10px, 1vw, 13px);
        color: var(--color-text-secondary);
      }

      .onlineIcon {
        width: clamp(12px, 1.2vw, 20px);
        height: clamp(12px, 1.2vw, 20px);
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1px 0;

    .itemsFilter {
      display: flex;
      gap: 3px;
      flex-direction: column;
      height: 100%;
      padding: 0 3px;

      .filterButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #1a1016;
        border-radius: 8px;
        width: clamp(30px, 3vw, 48px);
        height: 100%;
        flex-shrink: 0;

        .filterLabel {
          font-weight: 400;
          font-size: clamp(9px, 0.8vw, 12px);
          line-height: 120%;
          letter-spacing: 0;
          color: var(--color-text-secondary);
        }

        .filterIcon {
          width: clamp(10px, 1vw, 17px);
          height: clamp(10px, 1vw, 17px);
        }

        &.active {
          background: var(--color-primary);

          .filterLabel {
            color: var(--color-text-white);
          }
        }
      }
    }

    .itemsList {
      display: flex;
      align-items: center;
      height: 100%;
      gap: clamp(2px, 0.2vw, 3px);
      width: 100%;

      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
