@use "sass:map";
$rarity-themes: (
  common: (
    bg-main: linear-gradient(180deg, #495c73 0%, #252f3a 141.67%),
    before-color: #b0c3d9,
    logo-color: #495c73,
  ),
  uncommon: (
    bg-main: linear-gradient(180deg, #505cad 0%, #212648 141.67%),
    before-color: #7385f9,
    logo-color: #5075ad,
  ),
  rare: (
    bg-main: linear-gradient(180deg, #7052ac 0%, #271d3d 141.67%),
    before-color: #a073f9,
    logo-color: #7052ac,
  ),
  mythical: (
    bg-main: linear-gradient(180deg, #ac52a6 0%, #431f3c 141.67%),
    before-color: #f973d7,
    logo-color: #ac52a6,
  ),
  legendary: (
    bg-main: linear-gradient(180deg, #ac5254 0%, #431f1f 141.67%),
    before-color: #f97375,
    logo-color: #ac5254,
  ),
  ancient: (
    bg-main: linear-gradient(180deg, #aca752 0%, #565328 141.67%),
    before-color: #f9f273,
    logo-color: #aca752,
  ),
  other: (
    bg-main: linear-gradient(180deg, #393156 0%, #52496a 100%),
    before-color: #9e9e9e,
    logo-color: #9e9e9e,
  ),
);

// Миксин для основного фона контейнера
@mixin container-bg($namespace: "&") {
  @each $rarity, $colors in $rarity-themes {
    #{$namespace}__#{$rarity} {
      background: map.get($colors, bg-main);
    }
  }
}

@mixin before-color($namespace: "&") {
  @each $rarity, $colors in $rarity-themes {
    #{$namespace}__#{$rarity} {
      .skinCardLiveInner:before {
        background: map.get($colors, before-color);
      }
    }
  }
}

@mixin logo-color($namespace: "&") {
  @each $rarity, $colors in $rarity-themes {
    #{$namespace}__#{$rarity} {
      .skinCardLiveLogo {
        color: map.get($colors, logo-color);
      }
    }
  }
}
