/* Цветовые переменные для темной темы */
:root {
  /* Основные цвета приложения */
  --color-primary: #eb2bac;
  --color-background: #0f0a0d;
  --color-surface: #1a1016;
  --color-surface-secondary: "";
  --color-surface-tertiary: "";

  /* Текстовые цвета */
  --color-text-primary: #eb2bac;
  --color-text-secondary: #5a5257;
  --color-text-tertiary: #ffffffab;
  --color-text-white: #ffffff;

  /* Акцентные цвета */
  --color-accent-primary: #f5b0db;
  --color-accent-secondary: "";
  --color-accent-tertiary: "";

  /* Состояния */
  --color-success: "";
  --color-warning: "";
  --color-error: "";
  --color-info: "";

  /* Границы */
  --color-border-primary: #a40e74;
  --color-border-secondary: "";
  --color-border-focus: var(--color-accent-primary);

  /* Переходы */
  --transition-fast: 150ms ease-in-out;
  --transition-normal: 250ms ease-in-out;
  --transition-slow: 350ms ease-in-out;

  /* Радиусы скругления */
  --radius-sm: 4px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  /* Размеры */
  --spacing-xs: 0.25rem; // 4px
  --spacing-sm: 0.5rem; // 8px
  --spacing-md: 1rem; // 16px
  --spacing-lg: 1.5rem; // 24px
  --spacing-xl: 2rem; // 32px
  --spacing-header: 4rem; // 48px

  /* Размеры экранов */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 425px;
  --breakpoint-px: 525px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1920px;
  --breakpoint-xxl: 2560px;
}
