.container {
  background-image: url("/upgrades/cubes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.usersItem {
  background-image: url("/upgrades/usersItem.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23%;
  aspect-ratio: 431 / 431;
  max-width: 431px;
  max-height: 431px;
}

.initial {
  background-image: url("/upgrades/initial.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 46.7%;
  aspect-ratio: 877 / 425;
  max-width: 877px;
  max-height: 425px;
}

.upgradeItem {
  background-image: url("/upgrades/upgradeItem.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23%;
  aspect-ratio: 431 / 431;
  max-width: 431px;
  max-height: 431px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

.gridItem {
  width: 100%;
  background-color: var(--color-surface);
  border-radius: var(--radius-xl);
  padding: 0 var(--spacing-xs);
  height: 650px;
}

.inventoryContainer {
  background-color: var(--color-background);
  height: 555px;
  border-bottom-left-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.inventoryEmpty {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: var(--spacing-md);
}

.filters {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: var(--spacing-md);
}

.balanceSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  max-width: 1000px;
  gap: var(--spacing-md);
  position: absolute;
  bottom: -10px;
}

.balanceWidget {
  max-width: 400px;
  width: 100%;
}
