.banners {
  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 400px;

    .sliderSection {
      .banner {
        width: 100%;
        height: 400px;
        object-fit: contain;
      }
    }
    .promoSection {
      .banner {
        width: 100%;
        height: 400px;
        object-fit: contain;
      }
    }
  }
}
