.banners {
  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 50vh;
    gap: 1rem;

    .sliderSection {
      background-image: url("/banners/banner.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: var(--radius-2xl);
      display: flex;
      align-items: end;
      justify-content: center;
      position: relative;
      padding: var(--spacing-xl);

      .sliderSection__button {
        width: 180px;
        background: radial-gradient(
          50% 96.96% at 50% 50%,
          #c729a9 0%,
          #bb2777 100%
        ) !important;
        border: 1px solid
          linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 50%) !important;
        box-shadow: 0px 8px 24px -16px rgba(255, 255, 255, 0.24) inset,
          0px -24px 32px 0px rgba(255, 255, 255, 0.22) inset,
          0px 4px 12px 0px rgba(255, 255, 255, 1) inset,
          0px 36px 32px -16px rgba(164, 14, 116, 0.21),
          0px 8px 16px -8px rgba(164, 14, 116, 0.12),
          0px 2px 4px -8px rgba(164, 14, 116, 0.08) !important;
      }

      .sliderSection__item {
        position: absolute;
        transition: all 0.3s ease;
        z-index: 1;
        animation: returnToPosition 0.5s ease-out forwards;
      }

      &:hover .sliderSection__item {
        animation: fallDown 0.4s ease-out forwards,
          floatUpDown 2s ease-in-out 0.4s infinite;
      }

      @keyframes fallDown {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(20px);
        }
      }

      @keyframes floatUpDown {
        0%,
        100% {
          transform: translateY(20px);
        }
        50% {
          transform: translateY(10px);
        }
      }

      @keyframes returnToPosition {
        0% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(0);
        }
      }

      &:hover .sliderSection__item--knife1 {
        animation-delay: 0s, 0.4s;
      }
      &:hover .sliderSection__item--knife2 {
        animation-delay: 0.1s, 0.5s;
      }
      &:hover .sliderSection__item--knife3 {
        animation-delay: 0.15s, 0.55s;
      }
      &:hover .sliderSection__item--knife4 {
        animation-delay: 0.05s, 0.45s;
      }
      &:hover .sliderSection__item--coin1 {
        animation-delay: 0.2s, 0.6s;
      }
      &:hover .sliderSection__item--coin2 {
        animation-delay: 0.08s, 0.48s;
      }
      &:hover .sliderSection__item--coin3 {
        animation-delay: 0.12s, 0.52s;
      }
      &:hover .sliderSection__item--coin4 {
        animation-delay: 0.18s, 0.58s;
      }
      &:hover .sliderSection__item--coin5 {
        animation-delay: 0.06s, 0.46s;
      }
      &:hover .sliderSection__item--bonus1 {
        animation-delay: 0.25s, 0.65s;
      }
      &:hover .sliderSection__item--bonus2 {
        animation-delay: 0.14s, 0.54s;
      }
      &:hover .sliderSection__item--bonus3 {
        animation-delay: 0.22s, 0.62s;
      }

      .sliderSection__item--knife1 {
        animation-delay: 0s;
      }
      .sliderSection__item--knife2 {
        animation-delay: 0.1s;
      }
      .sliderSection__item--knife3 {
        animation-delay: 0.15s;
      }
      .sliderSection__item--knife4 {
        animation-delay: 0.05s;
      }
      .sliderSection__item--coin1 {
        animation-delay: 0.2s;
      }
      .sliderSection__item--coin2 {
        animation-delay: 0.08s;
      }
      .sliderSection__item--coin3 {
        animation-delay: 0.12s;
      }
      .sliderSection__item--coin4 {
        animation-delay: 0.18s;
      }
      .sliderSection__item--coin5 {
        animation-delay: 0.06s;
      }
      .sliderSection__item--bonus1 {
        animation-delay: 0.25s;
      }
      .sliderSection__item--bonus2 {
        animation-delay: 0.14s;
      }
      .sliderSection__item--bonus3 {
        animation-delay: 0.22s;
      }
    }
    .promoSection {
      background-image: url("/banners/promo_banner.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: var(--radius-2xl);
      position: relative;
      height: 100%;
      width: 100%;

      .inputSection {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 35%;
        width: 60%;
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        border-radius: var(--radius-md);
        padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs)
          var(--spacing-sm);
        background-color: var(--color-surface);

        .inputSection__input {
          color: var(--color-text-white);
          &::placeholder {
            color: var(--color-text-secondary);
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-bold);
          }
        }
      }
    }
  }
}
