.header {
  position: relative;
  z-index: 100;
  width: 100%;
<<<<<<< HEAD
  height: var(--spacing-header);
=======
>>>>>>> dev

  &__container {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
<<<<<<< HEAD
=======
    margin-top: 30px;
>>>>>>> dev

    .app_logo {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      img {
        height: 37px;
        width: 131px;
        object-fit: contain;
      }
    }

    .header_navigation {
      display: flex;
      align-items: center;
      margin-left: 58px;
    }

    .header_actions {
      margin-left: auto;
      display: flex;
      gap: 15px;
<<<<<<< HEAD
      align-items: stretch;
      height: 100%;
    }
  }
=======
      align-items: center;
    }
  }

  &__live {
    margin-top: 23px;
    height: 126px;
    padding-bottom: 15px;
  }
>>>>>>> dev
}
