.header {
  position: relative;
  z-index: 100;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    padding: var(--spacing-lg) var(--spacing-3xl) 0 var(--spacing-3xl);

    .app_logo {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      img {
        height: 37px;
        width: 131px;
        object-fit: contain;
      }
    }

    .header_navigation {
      display: flex;
      align-items: center;
      margin-left: 58px;
    }

    .header_actions {
      margin-left: auto;
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }

  &__live {
    margin-top: 23px;
    height: 126px;
    padding-bottom: 15px;
  }

  // Мобилка
  @media (max-width: 768px) {
    &__container {
      padding: var(--spacing-md) 1rem;
      justify-content: space-between;

      .app_logo {
        img {
          height: 24px;
          width: 76px;
        }
      }

      .header_navigation {
        display: none;
      }

      .header_actions {
        margin-left: 0;
        gap: 10px;

        .flex.items-center {
          display: none;
        }

        .mobile-actions {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
    }
  }

  @media (min-width: 769px) {
    &__container {
      .header_actions {
        .mobile-actions {
          display: none;
        }
      }
    }
  }

  // Планшет
  @media (max-width: 1024px) and (min-width: 769px) {
    &__container {
      padding: var(--spacing-md) var(--spacing-xl);

      .header_navigation {
        margin-left: 30px;
      }

      .header_actions {
        gap: 12px;
      }
    }
  }
}
