.navigation {
  margin-top: 6px;

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

    .navigationItem {
      position: relative;

      .navigationLink {
        display: flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        font-weight: 700;
        font-size: var(--font-size-lg);
        transition: all 0.2s ease;
        color: rgba(90, 82, 87, 1);

        .navigationIcon {
          flex-shrink: 0;
        }

        .navigationText {
          white-space: nowrap;
        }

        &--active {
          color: #ffffff;
        }

        &:hover:not(&--disabled):not(&--active) {
          color: #ffffff;
        }
      }
    }
  }
}
